.analysis {
    display: none;
}

body {
    font-family: Roboto;
}

.section{
  flex: 1 1 auto;
}
.hero {
  flex: 0 1 auto;
} 
.footer {
  flex: 0 1 auto;
  background-color: hsl(0, 0%, 94%);
}

.table tr.is-selected {
    background-color: hsl(217, 71%, 53%);
}