<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CCS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      {% include "lora.css" %}
    </style>
    <!-- Roboto font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet"/>
  </head>
  <body class="h-full flex flex-col font-sans text-base font-normal">
    <div class="p-12 bg-sky-600 text-white flex-initial">
      <p class="text-3xl font-semibold">
        LORA Report
      </p>
      <p class="text-xl font-light">
        Report created with <a href="https://github.com/sequana/lora">LORA</a> (v{{version}})
      </p>
    </div>
    <div class="p-12 text-base font-light leading-8 text-slate-700 flex-auto">
      <h1 class="text-3xl font-semibold mb-4">General Information</h1>
      <div class="overflow-x-auto w-full">
        <table id="lora_summary" class="w-full border-collapse table-auto mb-3">
          <thead class="font-medium border-b-2 border-gray-300">
            <th class="text-left py-1 px-3">Sample</th>
            {% for header in summary_header %}
            <th class="text-right py-1 px-3">{{header}}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for sample, values in summary_results.items() %}
            <tr 
              id={{"defaultOpenAssembly" if loop.first else "row_" ~ loop.index0}}
              class="even:bg-slate-50 border-t border-gray-300"
            >
              <td class="text-left font-medium py-1 px-3">
              <a href="./{{sample}}/sorted_contigs/{{sample}}.fasta">{{sample}}</a>|
              <button type="submit" onclick="window.open('{{sample}}/sorted_contigs/{{sample}}.fasta')">Download contigs</button></td>
              {% for value in values %}
              <td class="text-right py-1 px-3">{{value}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </div>
      </table>
      </div>


      {% if analysis %}
        {% for sample, contigs_dict in analysis.items() %}
          <div id="{{sample}}" class="hidden">
            <h1 class="text-2xl font-semibold mb-4">{{sample}}</h1>

              {% if 'checkm' in analysis[sample] %}
              <div class="flex items-center justify-around mb-4">
                <table id="{{sample}}_checkm" class="table-auto w-1/6 text-left">
                  <tbody>
                    {% for key, value in analysis[sample]['checkm'].items() %}
                    <tr class="{{'' if loop.first else 'border-t' }} border-gray-300">
                      <th class="px-2 py-2">{{key}}</th>
                      <td class="px-2 py-2 text-right">{{value}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <img class="checkm" src="data:image/png;base64,{{analysis[sample]['checkm_image']}}" />
              </div>
              {% endif %}

            {% for contig, results in contigs_dict.items() %}
              <h2 class="font-medium mb-2 text-xl">{{contig}}</h2>
              {% if 'coverage' in results %}
                <div class="flex items-center justify-around mb-4">
                  <table id="{{sample}}_{{contig}}_sequana" class="table-auto w-1/6 text-left">
                    <tbody>
                      {% for key, value in results['coverage'].items() %}
                      <tr class="{{'' if loop.first else 'border-t' }} border-gray-300">
                        <th class="px-2 py-2">{{key}}</th>
                        <td class="px-2 py-2 text-right">{{value}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <img src="data:image/png;base64,{{results['cov_image']}}" />
                </div>
              {% endif %}


              {% if 'blast' in results %}
                <div class="overflow-x-auto w-full">
                  <table 
                    id="{{sample}}_{{contig}}_blast"
                    class="table-auto w-full border-collapse mb-3"
                  >
                    <thead class="font-medium border-b-2 border-gray-300">
                        {% for title in results['blast'][0].keys() %}
                          <th class="
                            {{ 'text-left' if loop.first else 'text-right' }}
                            py-2 px-2
                          ">{{title}}</th>
                        {% endfor %}
                    </thead>
                    <tbody>
                      {% for blast in results['blast'] %}
                      <tr class="{{ '' if loop.first else 'border-b border-gray-300' }}">
                        {% for value in blast.values() %}
                        <td class="
                          {{ 'text-left' if loop.first else 'text-right' }}
                          py-2 px-2
                        ">{{value}}</td>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% endif %} 
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <footer class="flex justify-center flex-initial px-2 pb-10 pt-4 bg-gray-50">
        <p>
          <strong>LORA</strong> by <a class="text-indigo-500 active:text-indigo-600"href="https://sequana.readthedocs.io/en/master/">Sequana Team</a>. The source code is licensed
          <a class="text-indigo-500 active:text-indigo-600" href="https://opensource.org/licenses/BSD-3-Clause">BSD3</a>.
        </p>
    </footer>
    <!-- Javascript -->
    <script type="text/javascript">
      {% include "lora.js" %}
    </script>
  </body>
</html>
