.hidden-section {
  height:0px;
  transition: height, 0.25s linear;
  overflow: hidden;
}
.open-section-rulegraph {
  height: var(--calc-svg-height);
  transition: height, 0.25s linear;
}
.open-section-dependencies {
  height: var(--calc-dep-height);
  transition: height, 0.25s linear;
}