html, body {
  height: 100%;
}
body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
}
.section{
  flex: 1 1 auto;
}
.hero {
  flex: 0 1 auto;
} 
.footer {
  flex: 0 1 auto;
  background-color: hsl(0, 0%, 94%);
}
#rulegraph {
  display: flex;
  justify-content: center;
}
svg > g > polygon {
  fill: hsl(0, 0%, 98%);
}
.expand-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.hidden-section {
  height:0px;
  transition: height, 0.25s linear;
  overflow: hidden;
}
.open-section-rulegraph {
  height: var(--calc-svg-height);
  transition: height, 0.25s linear;
}
.open-section-dependencies {
  height: var(--calc-dep-height);
  transition: height, 0.25s linear;
}
#dependencies {
  min-width: 300px;
  width: 25%;
}