<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CCS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <style>
      {% include "summary.css" %}
    </style>
    <!-- Roboto font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <section class="hero is-link">
      <div class="hero-body">
        <div class="container has-text-centered"></div>
        <p class="title">
          LORA Summary
        </p>
        <p class="subtitle">
          Report created with <a href="https://github.com/sequana/lora">LORA</a> (v{{version}})
        </p>
      </div>
    </section>
    <section class="section has-background-white-bis">
      <div class="content is-normal">
        <h2>Global reporting</h2>
        <ul>
          <li>
            <p><a href="{{lora_report}}">LORA Report</a>: Resume coverage and blast results for all samples</p>
          </li>
          <li>
            <p><a href="{{lora_dir}}/multiqc/multiqc_report.html">MultiQC Reports</a>: Resume all tools results</p>
          </li>
        </ul>
        <h2>Tools reporting</h2>
          <table class="table has-background-white-bis">
            <thead>
              <tr>
                <th>Sample</th>
                <th>Contigs count</th>
                <th colspan={{"3" if coverage_done else "2"}}>Links</th>
              </tr>
            </thead>
            <tbody>
              {% for sample, count in samples %}
              <tr>
                <th>{{sample}}</th>
                <td>{{count}}</td>
                <td><a href="{{lora_dir}}/{{sample}}/quast/report.html">Quast</a></td>
                <td><a href="{{lora_dir}}/{{sample}}/quast/icarus.html">Icarus</a></td>
                {% if coverage_done %}
                  <td><a href="{{lora_dir}}/{{sample}}/sequana_coverage/multiqc_report.html">Coverage</a></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        <div id="rulegraph-section" class="expand-title" onclick="hideDiv(this, 'rulegraph')">
          <h2>Pipeline</h2>
          <span class="material-icons is-size-2">expand_more</span>
        </div>
        <div id="rulegraph" class="hidden-section">
          {{rulegraph}}
        </div>
        <div id="dependencies-section" class="expand-title" onclick="hideDiv(this, 'dependencies')">
          <h2>Dependencies</h2>
          <span class="material-icons is-size-2">expand_more</span>
        </div>
        <div id="dependencies" class="content is-normal hidden-section">
          <table class="table has-background-white-bis">
            <tbody>
              {% for tool, version in dependencies %}
              <tr>
                <th>{{tool}}</th>
                <td>{{version}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </section>
    <!-- Javascript -->
    <script type="text/javascript">
      {% include "summary.js" %}
    </script>
  </body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>LORA</strong> by <a href="https://sequana.readthedocs.io/en/master/">Sequana Team</a>. The source code is licensed
        <a href="https://opensource.org/licenses/BSD-3-Clause">BSD3</a>.
      </p>
    </div>
  </footer>
</html>
